<div class="flex flex-col justify-center items-center">

  <img class="w-1/2 m-4" src="assets/images/illustration-thank-you.svg" alt="thanks you image">

  <div class="m-2 py-1 px-4 bg-Medium-Grey bg-opacity-10 rounded-full">
    <span class="text-Orange text-sm text-opacity-80">You selected {{activeButton}} out of 5 </span>
  </div>

  <p class="mt-4 text-White text-3xl font-[500]">Thank you!</p>

  <p class="mt-3 text-Light-Grey text-sm text-center">We appreciate you taking the time to give a rating. If you ever need more support,
    don’t hesitate to get in touch!</p>

</div>
